@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --color-primary: #008080;
  --color-primary-light: #339999;
  --color-primary-dark: #0b7676;
  --grey-primary: #2a2a2a;
  --line-height-large: 1.5;
  --line-height-small: 1.1;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --border-radius-small: 0.6rem;
  --border-radius-medium: 1rem;
  --transition-duration-default: 150ms;
  --transition-duration-semi-long: 250ms;
  --animation-duration-default: 400ms;
  --animation-duration-slow: 600ms;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--grey-primary);
  font-family: "Lato", sans-serif;
}

.heading--secondary, .heading--primary {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-small);
}

.heading--primary {
  font-size: 6.2rem;
}
.heading--secondary {
  font-size: 5.2rem;
}

.subheading {
  color: var(--color-primary-light);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 1.2rem;
}

.mb-large {
  margin-bottom: 6.4rem;
}

.mb-medium {
  margin-bottom: 3.2rem;
}

@keyframes buttons-header {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.content {
  margin-top: 9.6rem;
}

.header {
  display: flex;
  background-color: var(--color-primary-light);
  justify-content: space-between;
  padding: 3.2rem;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  column-gap: 1.6rem;
}
.header__nav-list > li {
  transition: all 100ms;
}
.header__nav-list > li:hover {
  transform: scale(105%);
}
.header__nav-list > li > a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--grey-primary);
}

.hero {
  display: flex;
}
.hero__title {
  animation: from-right-text-animation var(--animation-duration-slow) ease-out;
}
@keyframes from-right-text-animation {
  0% {
    transform: translateX(-5rem);
  }
  70% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.hero__content {
  flex: 1;
  padding: 3.2rem;
}
.hero__img {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__img__image {
  width: 100%;
}
.hero__description {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  animation: from-left-text-animation var(--animation-duration-slow) ease-out;
}
@keyframes from-left-text-animation {
  0% {
    transform: translateX(5rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.hero__buttons {
  margin-top: 4.8rem;
  display: flex;
  column-gap: 0.8rem;
  animation: buttons-header var(--animation-duration-slow) ease-out;
}
.hero__patients {
  display: flex;
  align-items: center;
  margin-top: 6.4rem;
  column-gap: 3.2rem;
}
.hero__patients-imgs > img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: -1.2rem;
  background-color: var(--color-primary-light);
  padding: 3px;
  transition: all var(--transition-duration-default);
}
.hero__patients-imgs > img:hover {
  transform: scale(105%);
}
.hero__patients-text {
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
}
.hero__patients-text > span {
  color: var(--color-primary-light);
}

.main {
  max-width: 114rem;
  margin: 0 auto;
}

.about-us {
  display: flex;
  column-gap: 4.8rem;
}
.about-us__images {
  flex: 0 0 40%;
  position: relative;
}
.about-us__content {
  flex: 1;
}
.about-us__image {
  position: absolute;
  width: 60%;
  transition: all var(--transition-duration-default);
}
.about-us__image--1 {
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
.about-us__image--2 {
  top: 3rem;
  right: 1rem;
  z-index: 2;
}
.about-us__image--3 {
  bottom: 0;
  left: 20%;
  z-index: 3;
}
.about-us__image:hover {
  z-index: 4;
  border: 0.8rem solid var(--color-primary-light);
  transform: scale(120%);
  padding: 0.8rem;
  border-radius: var(--border-radius-medium);
}
.about-us__description {
  margin-top: 2.4rem;
  color: var(--grey-primary);
  font-size: 1.8rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semi-bold);
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  display: inline-block;
  border-radius: var(--border-radius-small);
  border: none;
  transition: all Var(--transition-duration-semi-long);
}
.btn, .btn:link, .btn:visited {
  background-color: var(--color-primary);
  color: #fff;
}
.btn:hover, .btn:active {
  cursor: pointer;
  background-color: var(--color-primary-light);
}
.btn--light, .btn--light:link, .btn--light:visited {
  background-color: #fff;
  color: var(--color-primary-light);
}
.btn--light:hover, .btn--light:active {
  background-color: var(--color-primary);
  color: #fff;
}

.modal {
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(7px);
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__window {
  border-radius: var(--border-radius-medium);
  background-color: var(--color-primary-light);
  color: #fff;
  padding: 3.2rem;
  max-width: 84rem;
  height: 50rem;
  position: relative;
  overflow: visible;
}
.modal__close-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 4rem;
  width: 4rem;
  transition: all var(--transition-duration-default);
}
.modal__close-icon:hover {
  cursor: pointer;
  transform: scale(110%);
}
.modal__header {
  margin-bottom: 4.8rem;
}
.modal__title {
  font-size: 3.6rem;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 1px;
}
.modal__body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
