@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* > :focus {
  outline: none;
  box-shadow: 0px 0px 5px 1px color-mix(in srgb, var(--color-primary-light) 40%, transparent);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  --color-primary: #008080;
  --color-primary-light: #339999;
  --color-primary-light-2: #cce6e6;
  --color-primary-dark: #0b7676;
  --gray-primary: #2a2a2a;
  --gray-primary-light: #555555;
  --line-height-large: 1.5;
  --line-height-small: 1.1;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --border-radius-small: 0.6rem;
  --border-radius-medium: 1rem;
  --border-radius-big: 1.5rem;
  --transition-duration-default: 150ms;
  --transition-duration-semi-slow: 250ms;
  --transition-duration-slow: 400ms;
  --animation-duration-default: 400ms;
  --animation-duration-slow: 600ms;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--gray-primary);
  font-family: "Lato", sans-serif;
}

.heading--secondary, .heading--primary {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-small);
}

.heading--primary {
  font-size: 6.2rem;
}
.heading--secondary {
  font-size: 5.2rem;
}
.heading--tertiary {
  font-size: 3rem;
}

.subheading {
  color: var(--color-primary-light);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-120%);
}

.mb-large {
  margin-bottom: 6.4rem;
}

.mb-medium {
  margin-bottom: 3.2rem;
}

@keyframes buttons-header {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.content {
  margin-top: 12.6rem !important;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
}
.header__nav-list > li:hover {
  transform: scale(105%);
}
.header__nav-list > li > a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--gray-primary);
}

.hero {
  display: flex;
}
.hero__title {
  animation: from-right-text-animation var(--animation-duration-slow) ease-out;
}
@keyframes from-right-text-animation {
  0% {
    transform: translateX(-5rem);
  }
  70% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.hero__content {
  flex: 1;
  padding: 3.2rem;
}
.hero__img {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__img__image {
  width: 100%;
}
.hero__description {
  margin-top: 6.4rem;
  font-size: 2.4rem;
  animation: from-left-text-animation var(--animation-duration-slow) ease-out;
}
@keyframes from-left-text-animation {
  0% {
    transform: translateX(5rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.hero__buttons {
  margin-top: 4.8rem;
  display: flex;
  column-gap: 0.8rem;
  animation: buttons-header var(--animation-duration-slow) ease-out;
}
.hero__patients {
  display: flex;
  align-items: center;
  margin-top: 6.4rem;
  column-gap: 3.2rem;
}
.hero__patients-imgs > img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: -1.2rem;
  background-color: var(--color-primary-light);
  padding: 3px;
  transition: all var(--transition-duration-default);
}
.hero__patients-imgs > img:hover {
  transform: scale(105%);
}
.hero__patients-text {
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
}
.hero__patients-text > span {
  color: var(--color-primary-light);
}

.main {
  max-width: 114rem;
  margin: 0 auto;
}

.about-us {
  display: flex;
  column-gap: 4.8rem;
}
.about-us__images {
  flex: 0 0 40%;
  position: relative;
}
.about-us__content {
  flex: 1;
}
.about-us__image {
  position: absolute;
  width: 60%;
  transition: all var(--transition-duration-default);
}
.about-us__image--1 {
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
.about-us__image--2 {
  top: 3rem;
  right: 1rem;
  z-index: 2;
}
.about-us__image--3 {
  bottom: 0;
  left: 20%;
  z-index: 3;
}
.about-us__image:hover {
  z-index: 4;
  border: 0.8rem solid var(--color-primary-light);
  transform: scale(120%);
  padding: 0.8rem;
  border-radius: var(--border-radius-medium);
}
.about-us__description {
  margin-top: 2.4rem;
  color: var(--gray-primary);
  font-size: 1.8rem;
}

.featured-in {
  display: flex;
  column-gap: 6.4rem;
}
.featured-in__text {
  font-size: 3rem;
  flex: 0 0 25%;
}
.featured-in__text > span {
  color: var(--color-primary-dark);
  font-weight: var(--font-weight-bold);
}
.featured-in__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-in__item:hover > .featured-in__image {
  filter: grayscale(0) opacity(100%);
}
.featured-in__items {
  display: flex;
  column-gap: 2.4rem;
}
.featured-in__image {
  height: 3.2rem;
  filter: grayscale(100%) opacity(40%);
  margin-bottom: 2.4rem;
  transition: all var(--transition-duration-slow);
}

.services {
  background-color: var(--color-primary-light-2);
  padding: 4.8rem;
  border-radius: var(--border-radius-medium);
  min-height: 40rem;
}
.services__content-item {
  margin-top: 4.8rem;
  display: none;
  transform: translateY(5rem);
  opacity: 0;
  transition: all var(--transition-duration-default);
}
.services__content-item.services__content--active {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 3.2rem;
  row-gap: 1.6rem;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
}
.services__icon {
  box-sizing: content-box;
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.6rem;
  grid-area: 1/1/1/1;
  fill: var(--color-primary-light);
}
.services__heading {
  grid-column: 2/3;
  color: var(--gray-primary);
}
.services__description {
  grid-area: 2/2/3/3;
  font-size: 1.8rem;
  color: var(--gray-primary-light);
  opacity: 0.8;
  padding-right: 3.2rem;
}

.pricing {
  display: flex;
  align-items: stretch;
  column-gap: 4.8rem;
  color: var(--gray-primary);
  position: relative;
}
.pricing__best-value {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-120%);
  font-weight: var(--font-weight-semi-bold);
}
.pricing__card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 0.2rem 2rem color-mix(in srgb, currentColor 30%, transparent);
  border-radius: var(--border-radius-medium);
  transition: all var(--transition-duration-semi-slow);
}
.pricing__card--best {
  border: 2px solid color-mix(in srgb, var(--color-primary) 50%, transparent);
  position: relative;
}
.pricing__card:hover {
  transform: scale(102%) translateY(-2rem);
}
.pricing__description {
  margin-bottom: 3.2rem;
}
.pricing__title {
  margin-top: 1.2rem;
  font-weight: var(--font-weight-medium);
  font-size: 2.4rem;
}
.pricing__price {
  font-size: 5.2rem;
  display: inline-block;
}
.pricing__time {
  font-size: 1.8rem;
  display: inline-block;
}
.pricing__list {
  margin-top: 1.6rem;
  list-style-type: none;
  flex: 1;
}
.pricing__list-item {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
.pricing__list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.pricing__icon {
  height: 1.6rem;
  stroke: var(--color-primary);
}
.pricing__button {
  width: 100%;
  margin-top: 4.8rem;
}
.pricing__pricing-top-text {
  margin-top: 1.2rem;
}

.testimonials__item {
  display: flex;
  column-gap: 4.8rem;
}
.testimonials__img {
  height: 110%;
  width: 40%;
  transform: translateY(-5%);
  border-radius: var(--border-radius-big);
  object-fit: cover;
  object-position: top;
}
.testimonials__text {
  display: flex;
  flex-direction: column;
}
.testimonials__name {
  font-size: 2.4rem;
}
.testimonials__person-description {
  color: var(--gray-primary-light);
  margin-bottom: 2.4rem;
}
.testimonials__text-content {
  font-size: 3rem;
}
.testimonials__text-content::before {
  content: '"';
  color: var(--color-primary);
  font-size: 6.2rem;
}

.cta {
  display: flex;
  justify-content: space-between;
  column-gap: 6.4rem;
  border-radius: var(--border-radius-medium);
  background-image: linear-gradient(to bottom right, var(--color-primary-light-2), 20%, var(--color-primary-light));
  min-height: 60rem;
}
.cta__img {
  object-fit: cover;
  width: 30%;
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}
.cta__nav-and-content {
  flex: 1 1 auto;
  padding: 3.2rem 0 3.2rem 6.4rem;
}
.cta__item {
  display: none;
}
.cta__item--active {
  display: block;
}
.cta__action-description {
  margin-top: 3.6rem;
  color: var(--gray-primary);
}
.cta .navigation {
  justify-content: flex-start;
  column-gap: 3.2rem;
}
.cta .form {
  margin-top: 3.2rem;
}

.footer {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(20rem, 25rem) repeat(auto-fit, minmax(18rem, 1fr));
  column-gap: 1.6rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  font-size: 1.4rem;
  color: var(--grey-primary-light);
}
.footer__icons {
  margin-top: 1.6rem;
  display: flex;
  column-gap: 2.4rem;
}
.footer__social-media-icon {
  width: 3rem;
  height: 3rem;
  transition: all var(--transition-duration-default);
  opacity: 50%;
}
.footer__social-media-icon:hover {
  cursor: pointer;
  transform: scale(110%);
}
.footer__copyright {
  font-size: 1.4rem;
  color: var(--gray-primary-light);
  margin-top: auto;
}
.footer__header-item {
  font-weight: var(--font-weight-semi-bold);
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.footer__address {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-weight: var(--font-weight-medium);
  color: var(--gray-primary);
  font-style: normal;
}
.footer__address > a {
  text-decoration: none;
  color: inherit;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 1.2rem;
}
.footer__list > li > a {
  text-decoration: none;
  color: inherit;
}

.btn {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semi-bold);
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  display: inline-block;
  border-radius: var(--border-radius-small);
  border: none;
  transition: all Var(--transition-duration-semi-slow);
}
.btn, .btn:link, .btn:visited {
  background-color: var(--color-primary);
  color: #fff;
}
.btn:hover, .btn:active {
  cursor: pointer;
  background-color: var(--color-primary-light);
}
.btn--light, .btn--light:link, .btn--light:visited {
  background-color: #fff;
  color: var(--color-primary-light);
}
.btn--light:hover, .btn--light:active {
  background-color: var(--color-primary-light);
  color: #fff;
}

.carousel {
  padding: 2.4rem 8rem;
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.carousel__arrow--left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4.4rem;
  transition: var(--transition-duration-default);
  z-index: 5;
  left: 1rem;
}
.carousel__arrow--left:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(110%);
}
.carousel__arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4.4rem;
  transition: var(--transition-duration-default);
  z-index: 5;
  right: 1rem;
}
.carousel__arrow--right:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(110%);
}
.carousel__navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
.carousel__navigation-item {
  width: 1.8rem;
  height: 1.8rem;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  transition: all var(--transition-duration-default);
}
.carousel__navigation-item--active::after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel__navigation-item:hover {
  cursor: pointer;
  transform: scale(115%);
}
.carousel__items {
  display: flex;
  transition: all var(--transition-duration-semi-slow);
}
.carousel__item {
  visibility: hidden;
  opacity: 0;
  flex: 0 0 100%;
  transition: all var(--transition-duration-semi-slow);
}
.carousel__item--active {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(7px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration-default);
}
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal.active > .modal__window {
  transform: translateY(0);
  opacity: 1;
}
.modal__window {
  border-radius: var(--border-radius-medium);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary));
  color: #fff;
  padding: 4.8rem;
  max-width: 84rem;
  position: relative;
  transform: translateY(-80%);
  opacity: 0;
  transition: all var(--transition-duration-slow);
}
.modal__close-icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: block;
  height: 4rem;
  width: 4rem;
  transition: all var(--transition-duration-default);
}
.modal__close-icon:hover {
  cursor: pointer;
  transform: scale(110%);
}
.modal__header {
  margin-bottom: 3.2rem;
}
.modal__title {
  font-size: 3.6rem;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 1px;
}
.modal__title-description {
  font-size: 1.8rem;
}
.modal:has(.modal__title):has(.modal__title-description) .modal__title {
  margin-bottom: 1.6rem;
}
.modal__body {
  margin-top: 3.2rem;
}

.navigation__item--active, .navigation__item:hover {
  color: var(--color-primary-dark);
  border-bottom: 3px solid var(--color-primary-dark);
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__item {
  padding-bottom: 1.2rem;
  transition: all var(--transition-duration-default);
}
.navigation__item:hover {
  padding-bottom: calc(1.2rem - 3px);
  cursor: pointer;
}
.navigation__item--active {
  padding-bottom: calc(1.2rem - 3px);
}
.navigation__item > a {
  text-decoration: none;
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}
.form__item {
  position: relative;
}
.form__label {
  font-size: 1.4rem;
  color: var(--gray-light);
  transition: all var(--transition-duration-default);
}
.form__label--movable, .form__label--visible {
  position: absolute;
  top: 0;
  left: 0;
}
.form__label--movable {
  visibility: hidden;
  opacity: 0;
}
.form__label--visible {
  transform: translateY(-120%);
}
.form__input, .form__textarea, .form__select, .form__select-input {
  width: 100%;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-radius: var(--border-radius-small);
  outline: none;
  font-size: 1.4rem;
  color: color-mix(in srgb, var(--gray-primary) 75%, transparent);
}
.form__input {
  border: 1px solid color-mix(in srgb, var(--gray-primary) 40%, transparent);
  border-bottom: 3px solid color-mix(in srgb, var(--gray-primary) 40%, transparent);
}
.form__input:focus, .form__input:not(:placeholder-shown) {
  border-bottom: 3px solid var(--gray-primary);
}
.form__input:focus ~ .form__label--movable, .form__input:not(:placeholder-shown) ~ .form__label--movable {
  visibility: visible;
  opacity: 1;
  transform: translateY(-120%);
}
.form__input:focus:invalid, .form__input:not(:placeholder-shown):invalid {
  border-bottom: 3px solid red;
}
.form__radio-input {
  margin-right: 0.8rem;
}
.form__textarea {
  resize: none;
  font-family: inherit;
}
.form__btn--grid {
  grid-column: 1/span 2;
}
.form__error-text {
  color: red;
  font-size: 2rem;
}
.form__result-text {
  font-weight: var(--font-weight-semi-bold);
  font-size: 2.2rem;
  grid-column: 1/-1;
}

@media (max-width: 50rem) {
  .form__btn--grid {
    grid-column: 1/2;
  }
}

/*# sourceMappingURL=style.css.map */
