@import "../abstracts/queries";

.about-us {
  display: flex;
  column-gap: 4.8rem;

  @include respondMaxWidth($breakpoint-lg-1) {
    column-gap: 1.6rem;
  }

  @include respondMaxWidth($breakpoint-md-1) {
    flex-direction: column;
    row-gap: 6.4rem;
  }

  &__images {
    flex: 0 0 40%;
    position: relative;

    @include respondMaxWidth($breakpoint-lg-1) {
      flex: 0 0 45%;
    }

    @include respondMaxWidth($breakpoint-md-1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 4.8rem;
    }
  }

  &__content {
    flex: 1;
  }

  &__image {
    position: absolute;
    width: 60%;
    transition: all var(--transition-duration-default);

    &--1 {
      top: 1rem;
      left: 1rem;
      z-index: 1;
    }

    &--2 {
      top: 3rem;
      right: 1rem;
      z-index: 2;

      @include respondMaxWidth($breakpoint-lg-1) {
        top: 25%;
      }

      @include respondMaxWidth($breakpoint-md-2) {
        top: 20%;
        transform: translateY(0);
      }
    }

    &--3 {
      bottom: 0;
      left: 20%;
      z-index: 3;

      @include respondMaxWidth($breakpoint-lg-1) {
        bottom: 3rem;
      }
    }

    &:hover {
      z-index: 4;
      border: 0.8rem solid var(--color-primary-light);
      transform: scale(120%);
      padding: 0.8rem;
      border-radius: var(--border-radius-medium);
    }

    @include respondMaxWidth($breakpoint-md-1) {
      position: static;

      &:hover {
        padding: 0;
        transform: scale(1);
        border: none;
        border-radius: 0;
      }
    }

    @include respondMaxWidth($breakpoint-md-2) {
      width: 70%;
    }

    @include respondMaxWidth($breakpoint-md-1) {
      width: 80%;
    }

    @include respondMaxWidth($breakpoint-sm-1) {
      width: 100%;
    }
  }

  &__description {
    margin-top: 2.4rem;
    color: var(--gray-primary);
    font-size: 1.8rem;

    @include respondMaxWidth($breakpoint-md-2) {
      font-size: 2rem;
    }
  }
}
