.footer {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(20rem, 25rem) repeat(
      auto-fit,
      minmax(18rem, 1fr)
    );
  column-gap: 1.6rem;
  row-gap: 4.8rem;

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    font-size: 1.4rem;
    color: var(--grey-primary-light);
  }

  &__icons {
    margin-top: 1.6rem;
    display: flex;
    column-gap: 2.4rem;
  }

  &__social-media-icon {
    width: 3rem;
    height: 3rem;
    transition: all var(--transition-duration-default);
    opacity: 50%;

    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }
  }

  &__copyright {
    font-size: 1.4rem;
    color: var(--gray-primary-light);
    margin-top: auto;
  }

  &__header-item {
    font-weight: var(--font-weight-semi-bold);
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }

  &__address {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    font-weight: var(--font-weight-medium);
    color: var(--gray-primary);
    font-style: normal;

    > a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 1.2rem;

    > li > a {
      text-decoration: none;
      color: inherit;
    }
  }
}
