@import "../abstracts/queries";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  background-color: #fff;

  @include respondMaxWidth($breakpoint-lg-1) {
    padding: 1.6rem;
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 6;
  }

  @include respondMaxWidth($breakpoint-sm-1) {
    &__logo {
      width: 40%;
    }
  }

  &__nav-list {
    list-style-type: none;
    display: flex;
    column-gap: 1.6rem;
    align-items: center;

    @include respondMaxWidth($breakpoint-lg-1) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 7;
      background-color: var(--color-primary-light);
      flex-direction: column;
      row-gap: 2.4rem;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transform: translateX(100%);
      transition: all var(--transition-duration-slow);

      & > li > a {
        color: #fff !important;
      }
    }

    & > li {
      &:hover {
        transform: scale(105%);
      }

      & > a {
        text-decoration: none;
        font-size: 2.4rem;
        color: var(--gray-primary);

        @include respondMaxWidth($breakpoint-lg-2) {
          font-size: 2rem;
        }
      }
    }
  }

  &__hamburger-menu-active &__nav-list {
    @include respondMaxWidth($breakpoint-lg-1) {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__left-arrow {
    display: none;
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 8;
    width: 4.4rem;
    height: 4.4rem;
    fill: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  &__hamburger-menu-active &__left-arrow {
    display: block;
  }

  &__hamburger-menu-icon {
    display: none;

    &:hover {
      cursor: pointer;
    }

    @include respondMaxWidth($breakpoint-lg-1) {
      display: block;
    }
  }
}
