@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --color-primary: #008080;
  --color-primary-light: #339999;
  --color-primary-dark: #0b7676;

  --grey-primary: #2a2a2a;
  --grey-primary-light: #555555;

  --line-height-large: 1.5;
  --line-height-small: 1.1;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --border-radius-small: 0.6rem;
  --border-radius-medium: 1rem;

  --transition-duration-default: 150ms;
  --transition-duration-semi-slow: 250ms;
  --transition-duration-slow: 400ms;

  --animation-duration-default: 400ms;
  --animation-duration-slow: 600ms;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--grey-primary);
  font-family: "Lato", sans-serif;
}
