@mixin move-text-horizontally(
  $animation-name,
  $initial-position,
  $mid-position,
  $animation-duration: var(--animation-duration-slow),
  $animation-timing-funtion: ease-out
) {
  @keyframes #{$animation-name}-text-animation {
    0% {
      transform: translateX($initial-position);
    }
    70% {
      transform: translateX($mid-position);
    }
    100% {
      transform: translateX(0);
    }
  }

  animation: #{$animation-name}-text-animation $animation-duration $animation-timing-funtion;
}

@mixin carousel-arrow($arrow-direction) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4.4rem;
  transition: var(--transition-duration-default);
  z-index: 5;

  &:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(110%);
  }

  @if ($arrow-direction == "left") {
    left: 1rem;

    @include respondMaxWidth($breakpoint-md-1) {
      left: 0;
    }
  }

  @if ($arrow-direction == "right") {
    right: 1rem;

    @include respondMaxWidth($breakpoint-md-1) {
      right: 0;
    }
  }
}
