$breakpoint-lg-2: 71em; // 1136px
$breakpoint-lg-1: 62.5em; // 1000px
$breakpoint-md-2: 50em; // 800px
$breakpoint-md-1: 37.5em; // 600px

@mixin respondMaxWidth($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
